<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhgpt.board.model.dao.ReviewDao">

    <!-- 리뷰 등록 -->
    <insert id="writeReview" parameterType="Review">
        INSERT INTO review(review_id, video_id, member_id, title, content, rating)
        VALUES(#{vreview_id}, #{video_id}, #{member_id}, #{title}, #{content}, #{rating})
    </insert>
    
    <!-- 리뷰 전체 조회 -->
    <select id ="getReviewList" resultType="Review">
        SELECT *
        FROM review
    </select>
    
    <!-- 리뷰 상세 조회 -->
    <select id ="selectReview" resultMap="reviewMap" parameterType="int">
        SELECT *
        FROM review
        WHERE review_id = #{review_id};
    </select>
    
    <!-- 리뷰 수정 -->
    <update id="modifyReview" parameterType="Review">
        UPDATE review
        SET content = #{content}
        WHERE review_id = #{review_id};
    </update>
    
    <!-- 리리 삭제 -->
    <delete id="deleteReview" parameterType="int">
        DELETE FROM review
        WHERE review_id = #{review_id};
    </delete>
    
</mapper>